<!DOCTYPE html>
<html xlmns:th="http://thymeleaf.org">
<head>
	<title>Desafio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	<link href="css/util.css" rel="stylesheet" type="text/css">
</head>
<body style="background-color:#CCC">

	<div class="text-center">    
	    <h1 class="display-4">Desafio</h1>
	    <a href="/empresas" id="inicio" class="btn btn-success lead" >Iniciar</a>
	
	</div>
</body>
</html>